name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  container-test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Run Jest Test
        run: (docker built -t funinja/aws-website -f Dockerfile.dev .) && (docker run -e CI=true funinja/aws-website npm run test)
