name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  container-test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Run Jest Test
        run: docker compose -f docker-compose-test.yml up --build --exit-code-from tests
