name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  container-test-job:
    runs-on: ubuntu-latest
    container:
      image: funinja/aws-website:v-1
      volumes:
        - /home/node/app/node_modules
        - ./:/home/node/app
    steps:
      - name: Run Jest Test
        run: (ls -la && cd .. && ls -la)
